apiVersion: v1
kind: Service
metadata:
  name: {{ app_name }}-svc
  namespace: {{ namespace }}
  labels:
    app.kubernetes.io/name: {{ app_name }}
    app.kubernetes.io/component: backend
    app.kubernetes.io/managed-by: kubeforge
spec:
  type: {{ service_type }}
  selector:
    app.kubernetes.io/name: {{ app_name }}
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: {{ port }}
